body{
  background-color: cadetblue;
}

.port{
  transform: translate(0px,0px);
  background-color: whitesmoke;
}
.port:hover{
  transform: translate(100px,100px);
}
.cont{
  transform: skew(0deg);
}
.cont:hover{
  transform: skew(50deg);

}
.abou{
  transform: scaleY(1);
}
.abou:hover{
  transform: scaleY(4.5);
}